@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background-color: #c9c9c9;
  --primary-color: #125d98;
  --secondary-color: #3c8dad;
  --standard-gray: #dddddd;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-flow: column;

  box-shadow: 10px 10px 120px -40px rgba(0,0,0,0.60);
  border-radius: 20px;

  width: 400px;
  height: 600px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    margin: 0 0 1em 1em;
}

.text {
    font-family: 'Montserrat', sans-serif;
}

.options {
    display: flex;
    justify-content: center;
    flex-flow: column;
}
