:root {
  --background-color: #e9e9e9;
  --primary-color: #125d98;
  --secondary-color: #3c8dad;
  --transition-time: 0.15s;
}

input[type="radio"]:after,
input[type="checkbox"][type="radio"]:after,
input[type="checkbox"]:after {
  transition: all var(--transition-time) ease;
}

input[type="radio"]:before,
input[type="checkbox"][type="radio"]:before,
input[type="checkbox"]:before {
  transition: all var(--transition-time) ease;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
}
input[type="radio"]:before,
input[type="radio"]:after,
input[type="checkbox"]:before,
input[type="checkbox"]:after {
  content: "";
  position: absolute;
}
input[type="radio"]:before,
input[type="checkbox"]:before {
  height: 100%;
}
input[type="radio"][type="radio"],
input[type="checkbox"][type="radio"] {
  border-radius: 30px;
}
input[type="radio"][type="checkbox"]:before,
input[type="checkbox"][type="checkbox"]:before {
  width: 200%;
  background-color: var(--background-color); /* sfondo */
  box-shadow: 0 0 0 2px var(--primary-color);
  transform: translate(-25%, 0);
  border-radius: 30px;
}
input[type="radio"][type="checkbox"]:after,
input[type="checkbox"][type="checkbox"]:after {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  background-color: var(--secondary-color); /* pallina */
  border-radius: 30px;
  transform: translate(-60%, 0);
}
input[type="radio"][type="checkbox"]:checked:after,
input[type="checkbox"][type="checkbox"]:checked:after {
  transform: translate(60%, 0);
  background-color: var(--primary-color); /* pallina */
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
