input[type="radio"]:after,
input[type="checkbox"][type="radio"]:after,
input[type="checkbox"]:after {
  transition: all 0.2s ease;
}

input[type="radio"]:before,
input[type="checkbox"][type="radio"]:before,
input[type="checkbox"]:before {
  transition: all 0.2s ease;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
}
input[type="radio"]:before,
input[type="radio"]:after,
input[type="checkbox"]:before,
input[type="checkbox"]:after {
  content: "";
  position: absolute;
}
input[type="radio"]:before,
input[type="checkbox"]:before {
  height: 100%;
}
input[type="radio"][type="radio"],
input[type="checkbox"][type="radio"] {
  border-radius: 30px;
}
input[type="radio"][type="checkbox"]:before,
input[type="checkbox"][type="checkbox"]:before {
  width: 200%;
  background-color: #c9c9c9; /* sfondo */
  box-shadow: 0 0 0 2px #000000;
  transform: translate(-25%, 0);
  border-radius: 30px;
}
input[type="radio"][type="checkbox"]:after,
input[type="checkbox"][type="checkbox"]:after {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  background-color: #000000; /* pallina */
  border-radius: 30px;
  transform: translate(60%, 0);
}
input[type="radio"][type="checkbox"]:checked:after,
input[type="checkbox"][type="checkbox"]:checked:after {
  transform: translate(-60%, 0);
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
